
body{
    background-color: hsl(225, 100%, 94%);
    margin: 0 auto;
    padding: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;800&display=swap');

.card_container{
    width: 375px;
    height: 700px;
    border: 5px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_background{
    width: 300px;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}
.card_img{
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.order_summary{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    font-size: 23px;
    margin: 16px 16px 16px 16px;
}
.hr_solid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-top: 2px solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
}
.order_desc{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    font-size: 15px;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 16px 30px 40px 30px;
    line-height: 25px;
}
.music_icon-container{
    display: flex;
    margin: 0px 30px 0px 30px;

}
.info_summary-container{
    font-family: 'Outfit';
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
}
.annual_plan{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    margin-top: 0px;
    margin-bottom: 0px;
}
.amount{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    opacity: 0.7;
    margin: 0 0 0 0;
}
.change{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    font-size: 15px;
    margin-left: 25px;
}
a{
    color: blue;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #3531f8;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Outfit';
    font-size: 15px;
    color: white;
    font-weight: 600;
    margin-top: 60px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.6);
    cursor: pointer;
}
.cancel_order{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    font-size: 15px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

/* latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
